.container {
    display: flex;
    gap:10px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
   
    gap: 50px;
}
.title {
    font-size: 35px;
}
.desc {
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 15px;
}
.button {
    padding: 20px;
    min-width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.button:first-child {
    background-color: var(--btn);
    color: var(--text);
}



.brands {
    widows: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(100%);
}

.imgContainer {
    position: relative;
    flex: 1;
}